@page
@model Var30.Pages.ExhaustedLiftsModel
@{
    ViewData["Title"] = "Exhausted Lifts and Lifts Over 15 in a Day";
}

<h2>Clients Who Exhausted Their Lifts</h2>
@if (Model.ClientsWithExhaustedLifts.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Client ID</th>
                <th>Client Name</th>
                <th>Total Lifts Taken</th>
                <th>Total Lifts Allowed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model.ClientsWithExhaustedLifts)
            {
                <tr>
                    <td>@client.ClientId</td>
                    <td>@client.ClientName</td>
                    <td>@client.TotalLiftsTaken</td>
                    <td>@client.TotalLiftsAllowed</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No clients have exhausted their lifts.</p>
}

<h2>Clients Who Took More Than 15 Lifts on @Model.specifiedDate?.ToShortDateString()</h2>
@if (Model.ClientsWithMoreThan15Lifts.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Client ID</th>
                <th>Client Name</th>
                <th>Total Lifts Taken</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model.ClientsWithMoreThan15Lifts)
            {
                <tr>
                    <td>@client.ClientId</td>
                    <td>@client.ClientName</td>
                    <td>@client.TotalLiftsTaken</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No clients took more than 15 lifts on this day.</p>
}
